@import '~bootstrap/scss/bootstrap';
body{
    background-image: url('https://png.pngtree.com/background/20230617/original/pngtree-low-poly-abstract-network-communication-background-in-3d-render-picture-image_3682642.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    //background-color: rgb(67, 98, 99);
}
.red{
    color: rgb(123, 18, 18);
}
.grey{
    color: slategray;
}
.mycard{
    width: calc((100% / 3) - 2rem);
    margin: 1rem;
    padding: 1rem;
}
.mytext{
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: cadetblue;
}
